:root {
  --popup: white;
  --popup-text: MenuText;
}

body {
  overflow-x: hidden;
  overflow-y: auto;
  min-width: 240px;
  white-space: nowrap;
  margin: 0;
  padding: 0;
  -moz-user-select: none;
  font-family: message-box;
  font-size: 12px;
  background-color: var(--popup);
  color: var(--popup-text);
}

.menu {
  padding: 6px 0;
}

.menuitem {
  display: block;
  padding: 0 12px 0 36px;
  box-sizing: border-box;
  height: 25px;
  width: 100vw;
  line-height: 25px;
  overflow: hidden;
  text-overflow: ellipsis;
  position: relative;
}

.menuitem.current {
  background-color: #acacac2d;
}

.menuitem.active {
  font-weight: bold;
}

.menuitem .icon {
  position: absolute;
  top: 4px;
  left: 12px;
  width: 16px;
  height: 16px;
  vertical-align: middle;
}

.menuitem .icon img {
  max-width: 16px;
  max-height: 16px;
}
