body {
  font: 15px message-box;
  line-height: 30px;
  text-shadow: 0 1px 1px #fefffe;
  cursor: default;
  -moz-user-select: none;
  user-select: none;
}

input[type="checkbox"],
input[type="radio"] {
  vertical-align: middle;
}

input[type="file"] {
  clip: rect(1px, 1px, 1px, 1px);
  overflow: hidden;
  width: 1px;
  height: 1px;
  margin: 0;
  opacity: 0;
  margin: 0 -1px -1px 0;
}


#config_panel {
  display: flex;
  min-width: 600px;
  width: 100%;
}

#spinfo, #spdetail {
  border: 1px solid var(--in-content-box-border-color);
  position: relative;
}

#spinfo {
  flex: 0 0 240px;
  min-width: 240px;
  box-sizing: border-box;
}

#spdetail {
  min-width: 0;
  flex: 1 0 calc(100% - 240px);
  margin-left: -1px;
  box-sizing: border-box;
  padding: 0 10px 10px;
}

#spinfo .button-line {
  position: absolute;
  bottom: 10px;
  left: 10px;
  right: 10px;
}

#splist {
  position: absolute;
  top: 16px;
  bottom: 66px;
  left: 0px;
  right: 0px;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  overflow-y: auto;
  outline: none;
}

#splist .spitem {
  display: block;
  height: 30px;
  line-height: 28px;
  box-sizing: border-box;
  border: 1px solid transparent;
  border-width: 1px 0;
  white-space: nowrap; 
  width: 240px;
  overflow: hidden;
  position: relative;
  padding-left: 60px;
  direction: ltr;
}

#splist .spitem input[type="checkbox"],
#splist .spitem .icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

#splist .spitem input[type="checkbox"] {
  left: 8px;
}

#splist .spitem input[type="checkbox"] {
  border: none;
  background-image: url("chrome://global/skin/in-content/check.svg"), url("chrome://global/skin/icons/check.svg");
  background-color: transparent;
  box-shadow: none;
}
#splist .spitem input[type="checkbox"]:not(:checked) {
  background-image: none;
}

#splist .spitem .icon {
  left: 34px;
}

#splist .spitem .icon img {
  width: 16px;
  height: 16px;
  vertical-align: -2px;
}

#splist .spitem:hover {
  background: #0095dd40;
}

#splist .spitem.current,
#splist .spitem.current:focus {
  background-color: #0a84ff;
  border-color: #0a84ff;
  color: white;
  text-shadow: none;
}

#splist .spitem.current input[type="checkbox"],
#splist .spitem.current:focus input[type="checkbox"] {
  fill: white;
}

#splist:focus .current {
  outline: #777 dotted 1px;
}

#spdetail .button-line {
  margin-top: 16px;
}

#spdetail .config-item {
  display: flow-root;
}

.config-title {
  display: block;
  margin: 16px 0 0;
  font-weight: 600;
}

.config-content {
  width: 100%;
  padding-left: 20px;
  box-sizing: border-box;
}

.config-content input[type="text"] {
  width: calc(100% - 20px);
  box-sizing: border-box;
}

.config-description {
  margin-left: 20px;
  font-size: 80%;
}

#spdetail .icon img {
  width: 24px;
  height: 24px;
  vertical-align: middle;
}

.create-form #removebutton,
.create-form #moveupbutton,
.create-form #movedownbutton {
  display: none;
}

.button-line {
  display: flow-root;
}

.button-line button {
  float: right;
  margin-left: 10px;
}

.button-line button.button-left {
  float: left;
  margin-left: 0;
  margin-right: 10px;
} 

.form-invalid #savebutton {
  color: red;
  text-decoration: line-through;
}

#backup_panel {
  margin-top: 10px;
}

.backup-title {
  display: block;
  margin: 5px 0;
}

.theme-config-option {
  margin-right: 40px;
}

input[type="radio"] {
  -moz-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border: 1px solid var(--in-content-box-border-color);
  border-radius: 50%;
  margin: 0;
  margin-inline-end: 10px;
  background-color: #f1f1f1;
  background-image: linear-gradient(#fff, rgba(255,255,255,0.8));
  box-shadow: 0 1px 1px 0 #fff, inset 0 2px 0 0 rgba(0,0,0,0.03);
}

input[type="radio"]:not(:disabled):hover {
  border-color: var(--in-content-border-focus);
}

input[type="radio"]:checked {
  background-image: url("chrome://global/skin/in-content/radio.svg"), linear-gradient(#fff, rgba(255,255,255,0.8));
  -moz-context-properties: fill;
  fill: #2292d0;
}

input[type="radio"]:disabled {
  opacity: 0.5;
}

input[type="radio"]:-moz-focusring + html|label:before {
  outline: 1px dotted;
}

